.checkBoxContainer {
    display: flex;
    margin-top: 10px;
    user-select: none;
}
.checkBoxContainer span {
    padding-left: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    color: #faebd7;
}

.chBox {
    width: 15px;
    height: 15px;
}
