.rangeCont {
    width: 100%;
}

.rangeBar{
    appearance: none;
    width: 80%; 
    height: 20px; 
    background: #d3d3d3;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 6px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangeBar:hover {
    opacity: 1;
}

.rangeBar::-webkit-slider-thumb {
    appearance: none;
    width: 25px; 
    height: 25px;
    border-radius: 50%; 
    background: #1779ba;
    cursor: pointer; 
}

.valOfRange { 
    width: 10%;
    height: 20px;
    text-align: center;
    vertical-align:text-bottom;
    margin-left: 10px;
    border: solid 1px #000;
    border-radius: 5px;
    color: #1779ba;
    font-weight: 900;
    font-size: 1.4em;
}