.wrapperOfWindow{
    position: fixed; 
    width: inherit; 
    height: 50%; 
    z-index: 1; 
    padding: 5% 10px 10px 10px;
    border-radius: inherit;
    background:#363636;
}

.finishBttn{
    width: 20%;
    border-radius: 7px;
    border: none;
    padding: 5px;
    background: #1e910d;
    font-weight: 600;
    color: #faebd7;
    font-size: 1.2em;
}

.heading{
    margin: 40px 0 40px 0px;
    text-align: center;
    color: #faebd7;
    text-decoration: underline;   
}