.inpWithPass{
    display: flex;
    justify-content: center;
}

.inpWithPass input{
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
}

.bttnBeauty {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #1779ba;
    color:blanchedalmond;
    font-weight: 900;
}
