.inpWithPass{
    display: flex;
    justify-content: space-around;
}

.inpWithPass input{
    width: 60%;
    padding: 0 9px 0 9px;
    font-size: 1.4em;
    font-weight: 500;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
}

.bttnBeauty {
    padding: 10px;
    border-radius: 5px;
    background: #1779ba;
    color:blanchedalmond;
    font-weight: 900;
    font-size: 0.9em;
    user-select: none;
}


.basicBar {
    display: inline-block;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    color: rgb(255, 247, 231);
    transition: width 800ms ease;
    user-select: none;
}

.basicBar.weakPass {
    background-color: rgb(235, 124, 20);
    height: 6px;
    width: 20%;
}

.basicBar.mediumPass {
    background-color: #efc20f;   
    height: 6px;
    width: 50%;

}

.basicBar.strongPass {
    background-color: rgb(50, 129, 50);   
    height: 6px;
    width: 100%;
}