.formWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-left: 35%;

    background: rgb(27, 27, 27);
}

.passwdInputSection {
    display: flex;
    width: inherit;
}

.passwdInputSection button {
    background:rgb(27, 27, 27);
    color: azure;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    
}